<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @user.nationality %>
</p>

<p>
  <strong>Point:</strong>
  <%= @user.point %>
</p>

<p>
  <strong>One:</strong>
  <%= @user.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @user.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @user.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @user.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @user.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @user.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @user.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @user.eight %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @user.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @user.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @user.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @user.twelve %>
</p>

<p>
  <strong>Thirteen:</strong>
  <%= @user.thirteen %>
</p>

<p>
  <strong>Fourteen:</strong>
  <%= @user.fourteen %>
</p>

<p>
  <strong>Fifteen:</strong>
  <%= @user.fifteen %>
</p>

<p>
  <strong>Sixteen:</strong>
  <%= @user.sixteen %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
